.login-wrapper{
    background: #EBF7FF;
}

.login-wrap{
    height: 70vh;
    color: #2a0057;
}
.login-1{
    width: 50%;
    margin: auto 0;
}
.login-1 img{
    width: 345px;
    height: 72px;
    margin: auto 0;
    margin-left: 36px;
    margin-top: 32px;
}
.login-1 h2{
    margin-top: 100px;
    margin-left: 36px;
    color: #45137B;
    font-size: 58px;
    font-weight: light;
    margin-bottom: 20px;
}
.login-1 span{
    font-size: 32px;
    margin: 20px;
    margin-left: 36px;
    color: #B3287A;
    font-weight: lighter;
}
.login-2{
    text-align: right;
}
.login-2-wrap{
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
}