.home {
    background: var(--bg-secondary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .stories {
    grid-template-columns: repeat(6,124px);
  }
  
  .success_text {
    color: #39b54a;
  }
  
  .error_text {
    color: #e90e0e;
  }
  
  .box_header{
    border-bottom: 1px solid var(--bg-third);
  }
  
  .postBox .small_circle{
    position: absolute;
    right: 16px;
    top: 12px;
  }
  
  .post_input{
    outline: none;
    font-family: inherit;
  }
  
  .flex_center textarea {
    background: transparent;
    position: absolute;
  }
  
  .post_header_right{
    padding: 6px;
    width: 43px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .post_submit{
    text-align: center;
    width: 96%;
    margin: 5px 10px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--blue-color);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input2 {
    min-height: 15px !important;
  }
  
  .p0 {
    padding: 0px;
    border-radius: 10px;
    height: 100%;
    cursor: default;
    overflow: hidden;
  }
  
  .p0:hover .preview_actions{
    display: flex;
  }
  
  .preview_actions{
    display: none;
  }
  
  .preview_actions button {
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 7px;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    color: var(--color-primary);
  }
  
  .preview1{
    width: 100%;
    height: 100%;
  }
  
  .preview1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .preview2 {
    height: 100%;
    display: flex;
    gap: 2px;
  }
  
  .preview2 img {
    width: 50%;
    height: 230px;
    object-fit: cover;
  }
  
  .preview3 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  
  .preview3 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .preview3 img:nth-child(1) {
    grid-column: 1/3;
  }
  
  .preview4 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  
  .preview4 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .preview4 img:nth-child(1) {
    grid-column: 1/4;
  }
  
  .preview5 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  
  .preview5 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    grid-column: auto / span 2;
  }
  
  .preview5 img:nth-child(1),
  .preview5 img:nth-child(2) {
    grid-column: auto / span 3;
  }
  .preview6 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
  
  .preview6 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .singular_grid img:nth-child(1) {
    grid-column: 1/3;
  }
  
  .post_backgrounds{
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .post_backgrounds img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .no_bg{
    background: var(--bg-secondary);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .bgHandler{
    height: 360px;
    width: 100%;
    background-size: cover;
  }
  
  .bgHandler textarea{
    text-align: center;
    height: 360px;
    margin-top: 10px;
  }
  
  .postError{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 333;
    color: #b94a48;
    animation: anim 0.3s;
    border-radius: 5px;
    padding: 3rem;
  }
  
  .postError_error{
    width: 75%;
    font-weight: 600;
  }
  
  @keyframes anim {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @media (max-width:1150px) {
   .stories, .create_post,.send_verification {
    width: 84%;
   }
   .home_middle {
    margin-left: 5%;
   }
   .right_home {
    width: 16vw;
   }
  }
  
  @media (max-width:950px){
    .left_home .left_link span,
    .left_home .left_link .col,
    .shortcut, .shortcut_item span,
    .splitter, .sc_copyright {
      display: none;
    }
    .left_home {
      width: 70px;
    }
    .left_link {
      background: var(--bg-third);
      width: 55px;
      height: 55px;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
    .left_link img {
      margin-left: 10px;
    }
    .home_middle{
      margin-left: -60px;
    }
    .create_post {
      width: 100%;
    }
    .right_home {
      width: 15vw;
    }
    .contacts-circle {
      width: 50px;
    }
    .stories {
      width: 100%;
    }
  }
  
  @media (max-width:940px){
    .create_post {
      width: 84%;
    }
    .stories {
      width: 84%;
    }
    .home_middle {
      margin-left: -40px;
    }
    .right_home {
      width: 20vw;
      left: 75%;
    }
    .contacts-circle {
      width: 80px;
      right: -20px;
    }
    .splitter1 {
      width: 23vw;
    }
    .popup {
      width: 70vw !important;
    }
  }


  